.iccclasses{
    border: 2px solid blue;
    text-align: center;
    

}
.sangeetha{

width:300px;
padding: 20px;
text-align: center;
margin-top: 5px;

}
.sinduri{
    

    width:300px;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}
.shoba{
    
    width:300px;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
   
}
.santipriya{
   
    width:300px;
    padding: 20px;
    margin-top: 5px;
    text-align: center;
}